html,body {
    justify-content: center;
    text-align: center;

}


.container {
    width: 15rem;
    height: 22rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: linear-gradient(45deg, #000000, #393939);
    box-shadow: 12px 12px 20px 12px rgb(0, 0, 0);
}

.buttonss {
    margin: auto;
    padding: auto;
    text-align: center;


}

input {

    background-color: rgb(58, 57, 56);
    width: 80%;
    height: 1em;
    padding-block: 0.2em;
    margin: auto;
    font-size: 2rem;
    color: white;
    text-align: center;
}


.row2 {
    margin: 0;
    padding: 0;
    display: flex;
}

.row1 {
    margin: 0;
    padding: 0;
    display: flex;
}

button {
    margin: auto;
    padding: auto;
    background: linear-gradient(45deg, #545050, #504f4e);
    text-align: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    font-weight: bolder;
    color: white;
    transition: 0.5s;

}

button:hover {
    background: linear-gradient(45deg, #eeba42, #da7b3c);
    width: 2.6rem;
    height: 2.6rem;
}